html{
    font-family:"Microsoft Sans Serif",sans-serif;
}

.topnav{
    display: grid;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: repeat(1, 100px);
    overflow: hidden;
    background-color: #EAECEE;
    height: 60px
  }

#header-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top:5px;
}

.container  {
    width:300px;
}

.text-field{
    width: 200px;
}

.form-control {
    margin-bottom: 10px;
}