.flex-container-grandparent{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  background-color: #08233D;
  height: 8cm;
  width: 6cm;
}

.flex-container-parent-1{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  height: 4cm;
  width: 3cm
}

.flex-container-parent-2{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  height: 4cm;
  width: 3cm
}

.flex-container-parent-2{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  height: 4cm;
  width: 3cm
}

.flex-container-parent-3{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  height: 4cm;
  width: 6cm
}

#flex-item-1{
  background-color: #f1f1f1;
  margin:10px;
  height: 2.25cm;
  width: 3cm
}

#flex-item-2{
  background-color: #f1f1f1;
  margin:10px;
  height: 1cm;
  width: 1cm
}