html{
    font-family:"Roboto Condensed"
}

body{
    margin: 0 0 0 0;
}

.label {
    background: white;
    display: grid;
    grid-template-columns: repeat(24, 0.25cm);
    grid-template-rows: repeat(32, 0.25cm);
    font-family: "Roboto Condensed"
}

h2{
   margin-top:25px;
}

h3 {font-family: "Roboto Condensed"
}

form {
    max-width: 200px;
    margin-left:10px
}

.topnav {
    display: grid;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: repeat(1, 100px);
    overflow: hidden;
    background-color: #EAECEE;
    height: 60px
  }

#header-image {
    margin-top:10px
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: 10px;
}

#wine-label {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 15;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#review-site {
    grid-column-start: 13;
    grid-column-end: 24;
    grid-row-start: 2;
    grid-row-end: 6;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#star {
    grid-column-start: 13;
    grid-column-end: 23;
    grid-row-start: 7;
    grid-row-end: 16;
    height: 100%;
    width: 100%
}


#points-number {
    font-family:"Roboto Black";
    font-size: 20pt;
    margin: 0 0 0 0;
    grid-column-start: 15;
    grid-column-end: 21;
    grid-row-start: 10;
    grid-row-end: 14;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: scale(0.75,1)
}

#points-pt {
    font-family:"Roboto Medium";
    font-size: 10pt;
    margin: 0 0 0 0;
    grid-column-start: 19;
    grid-column-end: 23;
    grid-row-start: 11;
    grid-row-end: 15;
    overflow: hidden;
    transform: scale(0.75,1)
}

#description {
    margin: 0 0 0 0;
    word-breaK:break-all;
    grid-column-start: 2;
    grid-column-end: 24;
    grid-row-start: 17;
    grid-row-end: 32;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.2cm;
    font-family: "Roboto Condensed Light"
}

.form-control {
    margin-bottom: 10px;
}