.label {
    background: white;
    display: grid;
    grid-template-columns: repeat(24, 0.25cm);
    grid-template-rows: repeat(32, 0.25cm);
}


#wine-label {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 15;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#review-site {
    grid-column-start: 13;
    grid-column-end: 24;
    grid-row-start: 2;
    grid-row-end: 6;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#star {
    grid-column-start: 13;
    grid-column-end: 23;
    grid-row-start: 7;
    grid-row-end: 15;
    height: 100%;
    width: 100%
}


#points {
    font-size: 10pt;
    margin: 0 0 0 0;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 10;
    grid-row-end: 13;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#description {
    margin: 0 0 0 0;
    word-breaK:break-all;
    grid-column-start: 2;
    grid-column-end: 24;
    grid-row-start: 17;
    grid-row-end: 32;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.2cm;
}

