<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</head>

<body>
<div id="whatever" class="pt-8 pl-4 border-2 border-blue-500">

     <div class="  max-w-md">
        <h1 class="text-2xl font-bold">Form</h1>
    </div>
    <div class="w-full max-w-md  pt-8">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="label-info" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Wine Label
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="wine" name="wine" type="file", required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Review Site
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="review" name="review" type="file" required   >
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Points
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="points" name="points" type="number"
                       placeholder="Points", required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Description
                </label>
                <textarea
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-64"
                        id="description" type="text" placeholder="Description" name="description" required>
                </textarea>
            </div>
            <button class="bg-blue-500 ml-6 hover:bg-blue-700 text-white font-bold  rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
            </button>
        </form>

        <div id="errors"></div>


    </div>
</div>
<script type='text/javascript'>
    $('#label-info').validate();
</script>

</div>
</body>