<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">

    <style>
        .topnav {
            display: grid;
            grid-template-rows: repeat(1, 50px);
            grid-template-columns: repeat(1, 100px);
            overflow: hidden;
            background-color: #58ABFA;
            height: 60px
        }

        body{
            background:whitesmoke;
        }

    </style>

</head>

<div class="topnav">
    <img id="header-image" class="ml-6" src="{{ url_for("static", filename='Graceway_supermarkets_logo.png') }}"/>
</div>

<h2 class="mt-6 ml-6 mb-2"> Provide Label Details </h2>

<div class="w-full max-w-xs mt-2 ml-6">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Wine Label
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="wine-label" name="wine-label" type="file">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Review Site
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   name="review-site" id="review-site" type="file">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Points
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="points" name="points" type="text">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Description
            </label>
            <input class="shadow border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 focus:outline-none focus:shadow-outline h-24 break-words text-left overflow-y-auto"
                   id="description" name="description" type="text">
            <p class="text-red-500 text-xs italic"</p>
        </div>

        <div class="form-control">
            <input class="bg-blue-800 text-black text-md px-2 py-1 rounded-md shadow-md hover:bg-gray-800 mb-3 mt-2"
                   type="submit"
                   value="Submit">
        </div>
    </form>
</div>


{#<form class="w-full max-w-sm">#}
{#  <div class="md:flex md:items-center mb-6">#}
{#    <div class="md:w-1/3">#}
{#      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">#}
{#        Full Name#}
{#      </label>#}
{#    </div>#}
{#    <div class="md:w-2/3">#}
{#      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" value="Jane Doe">#}
{#    </div>#}
{#  </div>#}
{#  <div class="md:flex md:items-center mb-6">#}
{#    <div class="md:w-1/3">#}
{#      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-username">#}
{#        Password#}
{#      </label>#}
{#    </div>#}
{#    <div class="md:w-2/3">#}
{#      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-username" type="password" placeholder="******************">#}
{#    </div>#}
{#  </div>#}
{#  <div class="md:flex md:items-center mb-6">#}
{#    <div class="md:w-1/3"></div>#}
{#    <label class="md:w-2/3 block text-gray-500 font-bold">#}
{#      <input class="mr-2 leading-tight" type="checkbox">#}
{#      <span class="text-sm">#}
{#        Send me your newsletter!#}
{#      </span>#}
{#    </label>#}
{#  </div>#}
{#  <div class="md:flex md:items-center">#}
{#    <div class="md:w-1/3"></div>#}
{#    <div class="md:w-2/3">#}
{#      <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">#}
{#        Sign Up#}
{#      </button>#}
{#    </div>#}
{#  </div>#}
{#</form>#}