<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {#    <style>#}
    {#        @page {#}
    {#            margin: 0#}
    {#        }#}
    {##}
    {#        body{#}
    {#            display:flex;#}
    {#            flex-flow: column nowrap;#}
    {#        }#}
    {##}
    {#        .topnav {#}
    {#            display: flex;#}
    {#            overflow: hidden;#}
    {#            background-color: #58ABFA;#}
    {#            height: 60px;#}
    {#            width:2000cm;#}
    {#        }#}
    {##}
    {#        #topnav-image {#}
    {#            margin-top: 5px;#}
    {#            margin-left: 10px;#}
    {#            margin-bottom: 5px;#}
    {#            max-height: 60px;#}
    {#            max-width: 100px;#}
    {#        }#}
    {##}
    {#        h2 {#}
    {#            margin-left: 10px;#}
    {#        }#}
    {##}
    {#        body {#}
    {#            background: whitesmoke;#}
    {#        }#}
    {##}
    {#        .form-container {#}
    {#            display: flex;#}
    {#            margin-left: 10px;#}
    {#            box-shadow: 0px 0px 5px 2px gray;#}
    {#            border-radius: 15px 15px 15px 15px;#}
    {#            background: white;#}
    {#            width: 280px;#}
    {#            height: 380px;#}
    {#            margin-right:2000cm;#}
    {#        }#}
    {##}
    {#        .form-item {#}
    {#            margin: 10px 10px 10px 10px;#}
    {#        }#}
    {##}
    {#        .form-content {#}
    {#            display: flex;#}
    {#        }#}
    {##}
    {#        textarea {#}
    {#            height: 150px;#}
    {#            width: 240px;#}
    {#        }#}
    {##}
    {#        #errors{#}
    {#            display:flex;#}
    {#            width:2000px;#}
    {#        }#}
    {##}
    {#    </style>#}

{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"#}
{#            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>#}
{#    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>#}
</head>

<body>
<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="label-info" method="post" enctype="multipart/form-data">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Wine Label
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="wine" name="wine" type="file">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Review Site
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="review" name="review" type="file">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Points
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="points" name="points" type="text"
                   placeholder="Points">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Description
            </label>
            <textarea
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-64"
                    id="description" type="text" placeholder="Description" name="description">
            </textarea>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Submit
        </button>
    </form>

{#    <div id="errors"></div>#}


</div>

{#<script type='text/javascript'>#}
{#    $('#label-info').validate({#}
{#        errorClass: 'help-inline font-bold my-2 block text-red-500',#}
{#        errorLabelContainer: '#errors',#}
{#        messages: {#}
{#            wine: "Wine Label Required!",#}
{#            points: "Must enter a value for points!",#}
{#            description: "Description Required!",#}
{#            review: "Review Required!"#}
{#        }#}
{#    });#}
{#</script>#}

{#    <div class="topnav">#}
{#        <img id="topnav-image" class="ml-6" src="{{ url_for("static", filename='Graceway_supermarkets_logo.png') }}"/>#}
{#    </div>#}
{##}
{#    <h2> Provide Label Details </h2>#}
{##}
{#    <div class="form-container">#}
{#        <div class="form-content">#}
{#            <form id="form-actual" method="post" enctype="multipart/form-data">#}
{#                <div class="form-item">#}
{#                    <label class="" for="wine-label">#}
{#                        Wine Label#}
{#                    </label>#}
{#                    <input class=""#}
{#                           id="wine" name="wine" type="file" required>#}
{#                </div>#}
{##}
{#                <div class="form-item">#}
{#                    <label class="" for="review-site">#}
{#                        Review Site#}
{#                    </label>#}
{#                    <input name="review" id="review" type="file" required>#}
{#                </div>#}
{##}
{#                <div class="form-item">#}
{#                    <label class="" for="username">#}
{#                        Points#}
{#                    </label>#}
{#                    <br>#}
{#                    <input class=""#}
{#                           id="points" name="points" type="text" required>#}
{#                </div>#}
{#                <div class="form-item">#}
{#                    <label for="description">#}
{#                        Description#}
{#                    </label>#}
{#                    <br>#}
{#                    <textarea id="description" name="description" type="text" required> </textarea>#}
{#                </div>#}
{##}
{#                <div class="form-item">#}
{#                    <input class=""#}
{#                           type="submit"#}
{#                           value="Submit">#}
{#                </div>#}
{#            </form>#}
{##}
{#          </div>#}

</div>
</body>